<div class="row">
  <div class="col-md content">
    <div class="row">
      <div class="col-12 col-md-3">
        <h2>Your Wish List</h2>
      </div>
    </div>
    <gw-list-action class="row" *ngIf="wishList?.length > 0; else noItems">
      <div globalListActions class="col-12">
        <gw-list-action-item icon="fas fa-dolly"
                             title="Move"
                             [isActive]="moveActionActive"
                             (onActionClicked)="actionClicked($event)"></gw-list-action-item>
        <gw-list-action-item icon="fas fa-trash"
                             title="Delete"
                             [isActive]="trashActionActive"
                             (onActionClicked)="actionClicked($event)"></gw-list-action-item>
      </div>
      <div globalMobileListActions>
        <gw-list-action-item icon="fas fa-dolly"
                             class="col-sm-6"
                             title="Move"
                             [isActive]="moveActionActive"
                             (onActionClicked)="mobileActionClicked($event)"></gw-list-action-item>
        <gw-list-action-item icon="fas fa-trash"
                             class="col-sm-6"
                             title="Delete"
                             [isActive]="trashActionActive"
                             (onActionClicked)="mobileActionClicked($event)"></gw-list-action-item>
      </div>
      <div actionDisplay>
        <gw-move-to-gift-list *ngIf="moveActionActive == true" [giftLists]="giftLists" (onMoveClicked)="itemMoveClicked($event)"></gw-move-to-gift-list>
        <gw-delete-wl-item *ngIf="trashActionActive == true" (onDeleteConfirm)="deleteConfirmed()" (onDeleteCancel)="deleteCancelled()"></gw-delete-wl-item>
      </div>
      <div mobileActionDisplay>
        <gw-move-to-gift-list *ngIf="moveActionActive == true" [giftLists]="giftLists" (onMoveClicked)="itemMoveClicked($event)"></gw-move-to-gift-list>
        <gw-delete-wl-item *ngIf="trashActionActive == true" (onDeleteConfirm)="deleteConfirmed()" (onDeleteCancel)="deleteCancelled()"></gw-delete-wl-item>
      </div>
    </gw-list-action>
    <ng-template #noItems>
      <div class="row">
        <div class="col-md">
          <p>There are currently no items in your wish list... Add some to get started!</p>
        </div>
      </div>
    </ng-template>
    <div class="row">
      <gw-gift-tag *ngFor="let item of wishList">
        <div class="col-4 pt-3 pr-0" item-img>
          <img [ngClass]="'gift-tag-img'" src="{{item.image}}" />
        </div>
        <div class="itm-checkbox" checkbox *ngIf="showCheckboxes == true">
          <input class="item-chkbx" type="checkbox" value="item" (click)="itemSelected(item)" />
        </div>
        <a [ngClass]="'truncate item-lnk'" item-link href="{{item.afflt_Link}}" target="_blank">{{item.itm_Name}}</a>
      </gw-gift-tag>
    </div>
    <div class="row">
      <div class="col-12 help-bubble">

      </div>
    </div>
  </div>
</div>
