.gift-tag-img {
  width: 100%;
  height: auto;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.item-lnk {
  line-height: 1.0;
  font-size: 20px;
  text-decoration: initial;
  padding-left: 5px;
  font-family: Brush Script MT, Brush;
}

a.item-lnk:hover {
  color: darkturquoise;
  text-decoration: none;
}

div.itm-checkbox {
  position: relative;
  top: -105px;
  right: -174px;
  z-index: 99999;
}
