<div class="row">
  <div class="col-md content">
    <div class="row">
      <div class="col-3">
        <h2>Your Contacts</h2>
      </div>
    </div>
    <gw-list-action>
      <div actions>
        <gw-list-action-item icon="fas fa-plus" title="Add" [isActive]="addActionActive" (onActionClicked)="actionClicked($event)"></gw-list-action-item>
        <gw-list-action-item icon="fas fa-trash" title="Trash" [isActive]="trashActionActive" (onActionClicked)="actionClicked($event)"></gw-list-action-item>
      </div>
      <div actionDisplay>
        <gw-add-contact *ngIf="addActionActive" [contacts]="contacts" (onContactAdded)="contactAdded($event)"></gw-add-contact>
      </div>
    </gw-list-action>
    <div class="row">
      <div class="col-md">
        <div class="card" *ngFor="let contact of contacts">
          <div class="row">
            <div class="col-sm-1 contact-checkbox" *ngIf="showCheckboxes">
              <input type="checkbox" />
            </div>
            <div class="col-sm">
              Name: {{contact.contact.name}}<br />
              Email: {{contact.contact.email}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
