<div class="row">
  <div class="col-md content">
    <h2>Gift Lists</h2>
    <gw-list-action>
      <div actions>
        <gw-list-action-item icon="fas fa-plus" title="Add" [isActive]="addActionActive" (onActionClicked)="actionClicked($event)"></gw-list-action-item>
        <gw-list-action-item icon="fas fa-share" title="Share" [isActive]="shareActionActive" (onActionClicked)="actionClicked($event)"></gw-list-action-item>
        <gw-list-action-item icon="fas fa-dolly" title="Move" [isActive]="moveActionActive" (onActionClicked)="actionClicked($event)"></gw-list-action-item>
        <gw-list-action-item icon="fas fa-trash" title="Delete" [isActive]="trashActionActive" (onActionClicked)="actionClicked($event)"></gw-list-action-item>
      </div>
      <div actionDisplay>
        <gw-add-gift-list *ngIf="addActionActive" (onListAdded)="onListAdded($event)"></gw-add-gift-list>
        <gw-move-to-gift-list *ngIf="moveActionActive" [giftLists]="giftLists" (onMoveClicked)="itemMoveClicked($event)"></gw-move-to-gift-list>
        <gw-share-gift-list *ngIf="shareActionActive" [contacts]="contacts"></gw-share-gift-list>
      </div>
    </gw-list-action>
    <div class="card" *ngFor="let list of giftLists">
      <div class="row" (click)="expandGiftList(list)">
        <ng-template [ngIf]="giftLists.length > 0" [ngIfElse]="noGifts">
          <div class="col-md-5 pl-4">
            <h4>{{list.name}}</h4>
          </div>
          <div class="col-md-4">
            <ng-template [ngIf]="list.giftItems.length == 1" [ngIfElse]="itemGrammar">
              There is only {{list.giftItems.length}} item in this list.
            </ng-template>
            <ng-template #itemGrammar>
              There are {{list.giftItems.length}} items in this list.
            </ng-template>
          </div>
        </ng-template>
        <ng-template #noGifts>
          <div class="col-md default-height">
            <h5>There are currently no gift lists.</h5>
          </div>
        </ng-template>
      </div>
      <div class="row" *ngIf="list.isExpanded == true">
        <div class="col-12">
          <div class="row" *ngFor="let item of list?.giftItems">
            <div class="col-1 pl-4">
              <input *ngIf="showCheckboxes == true" type="checkbox" [value]="item.item_Id" (click)="itemSelected(item)" />
            </div>
            <div class="col-1">
              <img [src]="item.image" alt="Alternate Text" class="gift-itm-img" />
            </div>
            <div class="col-9">
              {{item.itm_Name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


