<div class="row section section1">
  <div class="col-md-12 my-auto section-content">
    <div class="row">
      <div class="col-6 curlText">
        <h1>Get With Your Gifts!</h1>
      </div>
    </div>
  </div>
</div>
<div class="row section section2">
    <div class="col-md-12">
      <div class="row h-100">
        <div class="col-md-3 offset-1 my-auto pr-0 right-arrow">
          <div class="section-text float-right">
            <div class="ext-install curlText">
              <!--Implement logic to determine where to get extension from-->
              Download & Install
            </div>
            Download our browser extension to start adding items to your wish list!
          </div>
        </div>
        <div class="ext-img-container col-5 offset-1">
          <img class="ext-img" src="../../assets/images/sell-up-extension.png" />
        </div>
      </div>
    </div>
</div>
<div class="row section section3">
  <div class="col-md-12 my-auto section-content">
    <div class="row section3-bg-wrapper">
      <div class="col-md-1 section3-bg-left">

      </div>
      <div class="col-md-1 offset-10 section3-bg-right">

      </div>
    </div>
  </div>
</div>
<div class="row section section4">
  <div class="col-md-12 my-auto section-content">
    
  </div>
</div>
<div class="row footer sticky-bottom">
  This is the footer!
</div>

