<style>
  .background {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 997;
    height: 100vh;
  }

  div.section {
    height: 100vh;
  }

  div.section1 {
    background-image: url("../../assets/images/gf_bg-texture.png");
  }

  div.section2 {
    background-image: url(../../assets/images/gf_bg-texture.png);
  }

  ul.center-nav {
    position: absolute;
    right: 44%;
    top: 25vh;
    width: 275px;
    font-family: cursive;
    font-size: 20px;
  }

  ul.center-nav li {
    background-image: url("../../assets/images/225pxTape.png");
    height: 86px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    line-height: 4.5;
    cursor: pointer;
  }

</style>
<div class="row">
  <div class="col-12">
    Sell up page works!
  </div>
</div>
<div class="container-fluid background">
  <div class="row">
    <div class="col-md-6 section section1"></div>
    <div class="col-md-6 section section2"></div>
    <ul class="center-nav d-none d-md-block">
      <li style="transform: rotateZ(-20deg);">Get Started</li>
      <li style="transform: rotateZ(20deg);">Second Section</li>
      <li style="transform: rotateZ(-15deg);">Third Section</li>
      <li>Fourth Section</li>
    </ul>
  </div>
</div>

