<div class="row section section1">
  <div class="col-md-12 my-auto section-content">
    <div class="row">
      <div class="col-6 curlText">
        <h1>Get With Your Gifts!</h1>
      </div>
    </div>
  </div>
</div>
<div class="row section section2">
    <div class="col-md-12">
      <div class="row h-100">
        <div class="col-md-3 offset-1 my-auto pr-0 right-arrow">
          <div class="section-text float-right">
            <div class="ext-install curlText">
              <!--Implement logic to determine where to get extension from-->
              Download & Install
            </div>
            Download our browser extension to start adding items to your wish list!
          </div>
        </div>
        <div class="ext-img-container col-5 offset-1">
          <img class="ext-img" src="../../assets/images/sell-up-extension.png" />
        </div>
      </div>
    </div>
</div>
<div class="row section section3">
  <div class="col-md-12 my-auto section-content">
    <div class="row section3-bg-wrapper">
      <div class="col-md-1 section3-bg-left"></div>
      <div class="col-md-5 my-auto section3-left-content">
        <h1>A Collaborative gift-giving experience...</h1>
        <p>
          Have you ever been to a party where you have purchased the perfect gift for someone. You are so excited to see the look on their face when they see what you've gotten them; only to watch that excitement dashed away when you realize someone before you thought of the exact same gift? or better yet, a better version of the same gift?
        </p>
        <p>
          Enter GiftWizIt a web and mobile application that allows event organizers to share their gift wants with family and friends in an orderly and coordinated fashion.
        </p>
      </div>
      <div class="col-md-5 my-auto section3-right-content">
        <div class="row">
          <div class="col-md-2 img-round p-0 mt-2" id="wedding"></div>
          <div class="col-6 curlText round-txt">Weddings</div>
        </div>
        <div class="row">
          <div class="col-md-2 img-round" id="birthday"></div>
          <div class="col-6 curlText round-txt">Birthdays</div>
        </div>
        <div class="row">
          <div class="col-md-2 img-round"></div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
        </div>
      </div>
      <div class="col-md-1 section3-bg-right"></div>
    </div>
  </div>
</div>
<div class="row section section4">
  <div class="col-md-12 my-auto section-content">
    
  </div>
</div>
<div class="row footer sticky-bottom">
  This is the footer!
</div>

