<div class="row" *ngIf="prevViewedLists.length > 0">
  <div class="content col-md">
    <div class="card">
      <h3>Lists you have previously viewed...</h3>
      <ul>
        <li *ngFor="let list of prevViewedLists" (click)="prevListSelected(list)">{{list.giftListName}}</li>
        <!--<li (click)="viewAnotherList()" style="color: blue;">View a different list</li>-->
      </ul>
    </div>
  </div>
</div>
<div class="row" *ngIf="sharedList != null">
  <div class="content col-md">
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
            <h3>{{sharedList.giftList?.name}}</h3>
            <ul>
              <ng-container *ngFor="let item of sharedList.giftList?.giftItems">
                <li *ngIf="!item.deleted">
                  <div class="row">
                    <div class="col-sm-2">
                      <img src="{{item.item.image}}" alt="Alternate Text" style="width:25%;" />
                    </div>
                    <div class="col-sm">
                      <a href="{{item.item.linkItemPartners[0].affliateLink}}&gwztitem={{item.gListId}}_{{item.item_Id}}" target="_blank">{{item.item.name}}</a>
                    </div>
                  </div>
                </li>
              </ng-container>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
