/** {
  margin: 0px;
  padding: 0px;
}*/

html,
body {
  height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 45px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

body {
  background-image: url(../../assets/images/gf_bg-texture.png);
}

ul {
  list-style-type: none;
}

  ul li a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  ul.nav > li {
    padding: 10px;
  }

.wrapper {
  margin-top: -175px;
  min-height: 100vh;
}

div.side-bar {
  height: inherit;
}

div.side-ribbon {
  background-image: linear-gradient(to right, #e6e6e6, #ffffff, #e6e6e6);
  height: 100%;
  box-shadow: 10px 0px 25px #888888;
  position: relative;
  z-index: 998;
}

div.side-ribbon-content {
  margin-top: 170px;
}

nav.top-nav {
  top: 45px;
  background-image: linear-gradient(to bottom, #e6e6e6, #ffffff, #e6e6e6);
  z-index: 999;
  box-shadow: 10px 0px 8px #888888;
  height: 110px;
  position: fixed;
  width: 100%;
}

nav.navbar + div.coll-nav-container {
  top: 155px;
}

div.container-fluid {
  margin-top: 125px;
}

div.collapse.show {
  background-image: linear-gradient(to bottom, #e6e6e6, #ffffff, #e6e6e6);
}

div.logo img {
  height: 165px;
  position: relative;
  left: 35px;
  z-index: 999;
}

div.main-view {
  margin-top: 175px;
}

div.main-view .content {
  margin-left: 125px;
}

/* Override default navbar-right margin */
.navbar-right {
  margin-right: 0px;
}

div.top-spacer {
  z-index: 998;
  height: 45px;
  background-image: url(../../assets/images/gf_bg-texture.png);
  background-position-x: 15px;
  top: 0px;
  position: fixed;
  background-color: blue;
}

div.side-ribbon ul {
  left: 5px;
  position: fixed;
  width: 330px;
  font-size: 18px;
  margin-top: 60px;
}

div.side-ribbon ul > li {
  line-height: 110px;
  background-image: url("../images/225pxTape.png");
  background-repeat: no-repeat;
  margin: 20px;
}

  div.side-ribbon ul > li > a {
    margin-left: 20px;
    color: black;
    font-family: cursive;
    position: relative;
    top: -10px;
    font-weight: 900;
  }

div.side-ribbon ul > li:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes shake {
  0% {transform: translate(1px, 1px) rotate(0deg);}
  10% {transform: translate(-1px, -2px) rotate(-1deg);}
  20% {transform: translate(-3px, 0px) rotate(1deg);}
  30% {transform: translate(3px, 2px) rotate(0deg);}
  40% {transform: translate(1px, -1px) rotate(1deg);}
  50% {transform: translate(-1px, 2px) rotate(-1deg);}
  60% {transform: translate(-3px, 1px) rotate(0deg);}
  70% {transform: translate(3px, 1px) rotate(-1deg);}
  80% {transform: translate(-1px, -1px) rotate(1deg);}
  90% {transform: translate(1px, 2px) rotate(0deg);}
  100% {transform: translate(1px, -2px) rotate(-1deg);}
}

@media (min-width: 1179px) {
  div .right-vertical-rule {
    border-right: 2px solid grey;
  }

    div.right-vertical-rule:first-child {
      margin-bottom: 10px;
    }

  span.or-divider {
    position: relative;
    right: -15px;
  }
}

*.inline {
  display: inline !important;
}

/*************Dropdown styles************************/
.multiselect-dropdown .dropdown-btn {
  border: 1px solid black !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-down {
  border-top: 10px solid black !important;
}
/****************************************************/

.multiselect-dropdown .dropdown-btn .dropdown-up {
  border-bottom: 10px solid black !important;
}

  @media (max-width: 1179px) {
    span .or-divider {
    display: none;
  }

  @media screen and (max-width: 767px) {
    div.main-view {
      margin-left: 0px;
    }

    div.main-view .content {
      margin-left: 0px;
      margin-bottom: 60px;
    }

    div.logo img {
      height: 85px;
      position: relative;
      left: -15px;
      z-index: 999;
    }
  }
}
