<div class="col-sm-2 col-lg-1 ml-5 side-ribbon">
    <div class="row">
        <div class="col-12 side-ribbon-content">
          <ul>
            <li style="transform: rotate(-15deg);" (click)="ribbonItemClicked($event)"><a href="">My Wish Lists</a></li>
            <li style="transform: rotate(5deg);" (click)="ribbonItemClicked($event)"routerLinkActive="active"><a [routerLink]="['gift-lists']">My Gift Lists</a></li>
            <li style="transform: rotate(-10deg);" (click)="ribbonItemClicked($event)" routerLinkActive="active"><a href="">My Shared Gift Lists</a></li>
            <li><a href="">My Contacts</a></li>
          </ul>
        </div>
    </div>
</div>    
